@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan.eot") format("eot"),
        url("../fonts/BYekan.ttf") format("truetype");
        url("../fonts//BYekan.woff") format("woff"),
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: "BYekan";
    direction: rtl;
    text-align: right;
}
.body{
    background: url(/static/img/body_back4.jpg);
}
nav .brand-logo{
    width: 50px;
    top: 0.5rem;
}
nav .brand-logo img{
    width: 100%;
    border-radius: 15px;
}
@media(max-width:992px){
    nav .brand-logo{
        top: 0.2rem;
    }
}
nav ul li a:hover{
    background: transparent;
}
#mobile-demo{
    /*background: url(/static/img/sun.jpg);*/
    background-color: #f3e5f5;
    display: flex;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mobile-demo li {
    width: 100%;
}
#mobile-demo li a {
    text-align: center;
    color: #6a1b9a;
    transition: all 100ms ease;
}
#mobile-demo li a :hover{
    background-color: black;
    font-size: 1.8rem;
    backdrop-filter: blur(1px);
}

.menu_links_desktop::after{
    content: "";
    width: 110%;
    height: 3px;
    background:  #ce93d8 ;
    display: block;
    position: relative;
    bottom: 10px;
    transform: scaleX(0);
    transition: all 200ms ease;
}
.menu_links_desktop:hover::after{
    transform: scaleX(1);
}
/* .cros-style{
    height:calc(3 * 192px) !important;
    width: calc(3 * 108px) !important;
    top: 100px !important;
    right: 100px !important;
} */
.cros-style a  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cros-style a img {
    min-height: 100% !important;
    width: unset !important;
    min-width: 100% !important;
}

@media(min-width:992px){
    nav .brand-logo{
        right: 10px !important;
    }

}
.nav_container{
    filter: drop-shadow(0 0 5px black);
}
#nav-svg{
    position: fixed;
    top: 35px;
    pointer-events: none !important;

}
.text_style{
    position: absolute;
    width: 100px;
    height: 100px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    transition: all 230ms;
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(1px);
    opacity: 0.6;
}
.text_style.isShow{
    transform: perspective(800px) rotateY(-15deg) scale(1) rotateX(-10deg);
    filter: blur(0);
    opacity: 1;
    color: #4a148c;
    font-size: 2rem;
}
.faseleye_nevarbala {
    display: flex;
    position: relative;
    right: 70px;
}
.esme_morajee{
    display: flex;
    position: relative;
    left: 30px;
}

.w-100{
    width: 100% !important;
}
.menosari{
    position: relative;
    top: 20px;
    left: 0px;
    right: 0px;
    margin: auto;

}
.menosari .image img{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    width: 100%;
    max-width: 135px;
}
.menosari h2{
    font-size: 1.2rem;
    margin: 0;
    color: #4a148c;

}
.quick_item{
    position: relative;

    transform: perspective(800px) rotateY(25deg) scale(0.8) rotateX(10deg);
    transition: 0.6s ease all;
    opacity: 0.8;

}
.quick_item:hover {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 5px #ab47bc);
    -webkit-filter: drop-shadow(0 0 5px #ab47bc); ;

}
.clum {
    display: flex;
    flex-direction: column;
    bottom: 0px;
}
.pink-text.text-accent-3 {
    color: #4a148c !important;
}
.m2-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;;
    /* flex-direction: column; */
}
.m2-text a{
    margin: 0.5rem;
}

.top-20{
    position: relative;
    top: 40px;
}
.nav-rastchin{
    display: flex;
    position: relative;
    right: 70px;
}
.faseleazbala {
    position: absolute;
    top: 50px !important;
}
.faseleazbalamobile{
    position: relative;
    left: 150px; !important;
    top: 0px; !important;
    width: 100px;!important;
    height: 250px;!important;
    z-index: 10000;!important;
}
/*.sidenav li > a {*/
/*    height: 48px; !important;*/

/*}*/
/*.sidenav li > a > i,icons{*/
/*margin: 0 0px 0 0; !important;*/
/*}*/
#mobile-demo{
        display: inline-table;!important;
    overflow-y: auto;!important;
        width: 175px;!important;
    height: 300px;!important;
    padding: 0px; !important;

}