{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/end.css" %}">
    <title>مرکز زیبایی دکتر اسدپور</title>
</head>
<body dir="rtl" >
<form method="get">
    <div class="maine">
        <img class="imgmaine" src="{% static "img/massage2.jpg" %}" alt="login">
        <p class="textobject">
           اطلاعات رزرو
        </p>
        <div class="regester">
                <div class="box">

                    <p>
                         {{ firstname}}  {{ lastname }} عزیز
                    </p>
                    <p id="reservtext">
                        پرداخت شما با موفقیت انجام شد کد رهگیری پرداخت:{{ rahgiricode }}
                    </p>
                    <P>
                        خدمت رزرو شد:{{ kolkhedmat }}
                    </P>
                    <p>
                        تاریخ رزرو:{{ day }}
                    </p>
                    <P>
                        ساعت رزرو:{{ houre }}
                    </P>
                    <P>
                        مراجعه کننده محترم با توجه به فشرده بودن وقتها حتما سر تایم مراجعه فرمایید
                    </P>
                </div>
            
            <button class="regesterbuttoncancel" type="submit" name="backbutton" value={{ rahgiricode }}>
                بازگشت
            </button>
        </div>
    </div>
</form>
<label>{{ result }}</label>
</body>
</html>