{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static  "/css/materialize-rtl.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "/fontawesome/css/all.css" %}">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/leave.css" %}">
    <title>Document</title>
</head>
<body>
<form method="POST">
{% csrf_token %}
{#    <div >#}
{#        <p id="titr">#}
{#            رزرو آنلاین#}
{#        </p>#}
{#    </div>#}

    <div class="main">
            <div class="textbox">
                <p class="textobject">
                    {{ person }}
                </p>
            </div>
            <div class="effects">
                {% for t in leavearray%}
                    <div  class="effects__item sizeefect_time">
                        <p class="textboxxx">{{ t.0}}
                        <br>
                        {% if t.1 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="1,{{ forloop.counter}}" d10:00 تا 10:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="1,{{ forloop.counter}}" >10:00 تا 10:15</button>
                        {% endif %}
                        {% if t.2 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="2,{{ forloop.counter}}" d10:15 تا 10:30</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="2,{{ forloop.counter}}" >10:15 تا 10:30</button>
                        {% endif %}
                        {% if t.3 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="3,{{ forloop.counter}}" d10:30 تا 10:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="3,{{ forloop.counter}}" >10:30 تا 10:45</button>
                        {% endif %}
                        {% if t.4 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="4,{{ forloop.counter}}" d10:45 تا 11:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="4,{{ forloop.counter}}" >10:45 تا 11:00</button>
                        {% endif %}
                        {% if t.5 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="5,{{ forloop.counter}}" d11:00 تا 11:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="5,{{ forloop.counter}}" >11:00 تا 11:15</button>
                        {% endif %}
                        {% if t.6 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="6,{{ forloop.counter}}" d11:15 تا 11:30 </button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="6,{{ forloop.counter}}" >11:15 تا 11:30</button>
                        {% endif %}
                        {% if t.7 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="7,{{ forloop.counter}}" d11:30 تا 11:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="7,{{ forloop.counter}}" >11:30 تا 11:45</button>
                        {% endif %}
                        {% if t.8 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="8,{{ forloop.counter}}" d11:45 تا 12:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="8,{{ forloop.counter}}" >11:45 تا 12:00</button>
                        {% endif %}
                        {% if t.9 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="9,{{ forloop.counter}}" d12:00 تا 12:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="9,{{ forloop.counter}}" >12:00 تا 12:15</button>
                        {% endif %}
                        {% if t.10 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="10,{{ forloop.counter}}" >12:15 تا 12:30</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="10,{{ forloop.counter}}" >12:15 تا 12:30</button>
                        {% endif %}
                        {% if t.11 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="11,{{ forloop.counter}}" >12:30 تا 12:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="11,{{ forloop.counter}}" >12:30 تا 12:45</button>
                        {% endif %}
                        {% if t.12 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="12,{{ forloop.counter}}" >12:45 تا 13:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="12,{{ forloop.counter}}" >12:45 تا 13:00</button>
                        {% endif %}
                        {% if t.13 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="13,{{ forloop.counter}}" >13:00 تا 13:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="13,{{ forloop.counter}}" >13:00 تا 13:15</button>
                        {% endif %}
                        {% if t.14 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="14,{{ forloop.counter}}" >13:15 تا 13:30</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="14,{{ forloop.counter}}" >13:15 تا 13:30</button>
                        {% endif %}
                        {% if t.15 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="15,{{ forloop.counter}}" >13:30 تا 13:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="15,{{ forloop.counter}}" >13:30 تا 13:45</button>
                        {% endif %}
                        {% if t.16 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="16,{{ forloop.counter}}" >13:45 تا 14:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="16,{{ forloop.counter}}" >13:45 تا 14:00</button>
                        {% endif %}
                        {% if t.17 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="17,{{ forloop.counter}}" >14:00 تا 14:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="17,{{ forloop.counter}}">14:00 تا 14:15</button>
                        {% endif %}
                        {% if t.18 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="18,{{ forloop.counter}}" >14:15 تا 14:30</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="18,{{ forloop.counter}}" >14:15 تا 14:30</button>
                        {% endif %}
                        {% if t.19 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="19,{{ forloop.counter}}" >14:30 تا 14:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="19,{{ forloop.counter}}" >14:30 تا 14:45</button>
                        {% endif %}
                        {% if t.20 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="20,{{ forloop.counter}}" >14:45 تا 15:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="20,{{ forloop.counter}}" >14:45 تا 15:00</button>
                        {% endif %}
                        {% if t.21 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="21,{{ forloop.counter}}" >15:00 تا 15:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="21,{{ forloop.counter}}" >15:00 تا 15:15</button>
                        {% endif %}
                        {% if t.22 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="22,{{ forloop.counter}}" >15:15 تا 15:30</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="22,{{ forloop.counter}}" >15:15 تا 15:30</button>
                        {% endif %}
                        {% if t.23 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="23,{{ forloop.counter}}" >15:30 تا 15:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="23,{{ forloop.counter}}" >15:30 تا 15:45</button>
                        {% endif %}
                        {% if t.24 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="24,{{ forloop.counter}}" >15:45 تا 16:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="24,{{ forloop.counter}}" >15:45 تا 16:00</button>
                        {% endif %}
                        {% if t.25 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="25,{{ forloop.counter}}" >16:00 تا 16:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="25,{{ forloop.counter}}" >16:00 تا 16:15</button>
                        {% endif %}
                        {% if t.26 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="26,{{ forloop.counter}}" >16:15 تا 16:30</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="26,{{ forloop.counter}}" >16:15 تا 16:30</button>
                        {% endif %}
                        {% if t.27 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="27,{{ forloop.counter}}" >16:30 تا 16:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="27,{{ forloop.counter}}" >16:30 تا 16:45</button>
                        {% endif %}
                        {% if t.28 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="28,{{ forloop.counter}}" >16:45 تا 17:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="28,{{ forloop.counter}}" >16:45 تا 17:00</button>
                        {% endif %}
                        {% if t.29 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="29,{{ forloop.counter}}" >17:00 تا 17:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="29,{{ forloop.counter}}" >17:00 تا 17:15</button>
                        {% endif %}
                        {% if t.30 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="30,{{ forloop.counter}}" >17:15 تا 17:30</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="30,{{ forloop.counter}}" >17:15 تا 17:30</button>
                        {% endif %}
                        {% if t.31 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="31,{{ forloop.counter}}" >17:30 تا 17:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="31,{{ forloop.counter}}" >17:30 تا 17:45</button>
                        {% endif %}
                        {% if t.32 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="32,{{ forloop.counter}}" >17:45 تا 18:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="32,{{ forloop.counter}}" >17:45 تا 18:00</button>
                        {% endif %}
                        {% if t.33 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="33,{{ forloop.counter}}" >18:00 تا 18:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="33,{{ forloop.counter}}" >18:00 تا 18:15</button>
                        {% endif %}
                        {% if t.34 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="34,{{ forloop.counter}}" >18:15 تا 18:30</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="34,{{ forloop.counter}}" >18:15 تا 18:30</button>
                        {% endif %}
                        {% if t.35 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="35,{{ forloop.counter}}" >18:30 تا 18:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="35,{{ forloop.counter}}" >18:30 تا 18:45</button>
                        {% endif %}
                        {% if t.36 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="36,{{ forloop.counter}}" >18:45 تا 19:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="36,{{ forloop.counter}}" >18:45 تا 19:00</button>
                        {% endif %}
                        {% if t.37 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="37,{{ forloop.counter}}" >19:00 تا 19:15</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="37,{{ forloop.counter}}">19:00 تا 19:15</button>
                        {% endif %}
                        {% if t.38 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="38,{{ forloop.counter}}" >19:15 تا 19:30</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="38,{{ forloop.counter}}" >19:15 تا 19:30</button>
                        {% endif %}
                        {% if t.39 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="39,{{ forloop.counter}}" >19:30 تا 19:45</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="39,{{ forloop.counter}}" >19:30 تا 19:45</button>
                        {% endif %}
                        {% if t.40 == "false" %}
                            <button class="boxxxf"  name="timeleave" value="40,{{ forloop.counter}}" >19:45 تا 20:00</button>
                        {% else %}
                            <button class="boxxx"  name="timeleave" value="40,{{ forloop.counter}}" >19:45 تا 20:00</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div>
                <button class="w-100 btn waves-effect" name="sabt" value="accept">ثبت</button>
            </div>
    </div>
    <label>{{ m }}</label>
    <input name="mounth" value="{{ mounth }}" hidden>
{#    <input name="year" value="{{ year }}" hidden>#}
    <label id="etebar" hidden>{{ etebar }}</label>
{% csrf_token %}
</form>
<label id="reservetebar" >{{  reservetebar }}</label>

<script src="/static/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static "/js/reserve.js" %}">    </script>

</body>
</html>