{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>نوبت‌دهی کلینیک</title>
  <!-- بارگذاری moment و moment-jalaali -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment-jalaali@0.9.2/build/moment-jalaali.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/new_timereserv.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/new-leave.css' %}">
</head>
<body>
<h1>انتخاب روز و زمان برای مرخصی</h1>
{#<h2>بوتاکس زیر بغل توسط مهدی اسدپور</h2>#}
<div class="calendar-container" id="calendarContainer"></div>
  
  <!-- برچسب نمایش تاریخ انتخاب شده جهت تایم‌ها -->
  <div id="timeDayLabel"></div>  
  <div class="time-grid" id="timeGrid"></div>
    <div class="action-buttons">
        <button id="confirmBtn" class="btn-confirm">تایید مرخصی</button>
        <button id="cancelBtn" class="btn-cancel">بازگشت</button>
    </div>
  <input type="hidden" id="nationalcode" value="{{ user }}">

<script>
  window.reservedTimes = JSON.parse('{{ reserved_times_json|escapejs }}') || [];
  window.rar = JSON.parse('{{ rar_json|escapejs }}') || [];
  console.log("Reserved Times:", window.reservedTimes);
  console.log("Booked Times:", window.rar);
</script>

<script src="{% static '/js/new_leave.js' %}"></script>

</body>
</html>