{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خدمات ما - کلینیک زیبایی دکتر اسدپور</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/new_reserv.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/new_home.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <div class="header-info">
                <div class="logo-container">
                    <img src="{% static 'logo.png' %}" alt="لوگوی مطب">
                </div>
                <div class="user-info">
                    <span class="user-name-display">{{profilestatus }}</span>
                    <div class="profile-circle">
                        <img src="{% static "/img/img3.jpeg" %}" alt="User Profile" class="profile-image">
                    </div>
                    <div class="profile-upload">
                        <i class="fas fa-user"></i>
                        <input type="file" id="profilePicInput" style="display: none;">
                    </div>
                </div>
            </div>
        </div>

       <h1 class="section-title">خدمات ما</h1>

        <div class="cards-container">
            {% for service in job %}
            <div class="service-card" data-service-id="{{ service }}">
                <div class="card-header">
{#                    <i class="{{ service.icon_class }}"></i>#}
                    <div class="card-title">{{ service }}</div>
                </div>
                <div class="options-container">
                    {% for option in works %}
                      {% if option.work == service %}
                        {% if option.hidde != 'hidde' %}
                    <div class="option-item" 
                         data-service-id="{{ service }}"
                         data-option-id="{{ option.work }} {{ option.detalework }} برند {{ option.berand }}">
                        {{ option.work }} {{ option.detalework }} برند {{ option.berand }}
                        <div class="option-info">
                            <span class="option-price">{{ option.cast }} تومان</span>
                            <span class="option-operator">{{ option.person }}</span>
                        </div>
                    </div>
                        {% endif %}    
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div id="toastContainer"></div>
    </div>

        

    <script src="{% static '/js/new_reserv.js' %}"></script>
</body>
</html>