{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">                 #}
    <link rel="stylesheet" type="text/css" href="{% static "/css/materialize.min.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static  "/css/materialize-rtl.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "/fontawesome/css/all.css" %}">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/home.css" %}">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/add-contact.css" %}">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/timereserve.css" %}">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/reserver.css" %}">
    <title>مرکز زیبایی دکتر اسدپور</title>
</head>
<body dir="rtl" class="body">
  <!-- <div class="container">
      <div></div>
  </div> -->
  <!-- -----------------ناو بار ----شروع---------------- -->
<div class="navbar-fixed">
  <nav class="purple darken-3 nav nav_container">
    <svg id="nav-svg" 
    xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 1440 320">
     <path fill="#6a1b9a" 
     fill-opacity="1" 
     d="M0,96L120,85.3C240,75,480,53,720,58.7C960,64,1200,96,1320,112L1440,128L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z">  
    </path>
    </svg>
    
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <img src={% static "/img/logo.jpg" %} alt="menu">
      </a>

{#      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>#}
      <a href="/" class=" right sidenav-trigger ">بازگشت</a>

      <ul class="right hide-on-med-and-down ul_s">
{#        <li><a class="menu_links_desktop" href="/">بازگشت به صفحه اصلی</a></li>#}
{#        <li><a class="menu_links_desktop" href="sass.html ">ورود و ثبت نام</a></li>#}
{#        <li><a class="menu_links_desktop" href="badges.html">رزرو آنلاین</a></li>#}
{#        <li><a class="menu_links_desktop" href="collapsible.html">آموزش مجازی</a></li>#}
{#        <li><a class="menu_links_desktop" href="mobile.html">گالری</a></li>#}
{#        <li><a class="menu_links_desktop" href="mobile.html">ارتباط با ما</a></li>#}
{#        <li><a class="menu_links_desktop" href="mobile.html">راهنما</a></li>#}
      </ul>
      <ul class="left hide-on-med-and-down ul_s esme_morajee">
        <li><a class="menu_links_desktop" href="/">بازگشت به صفحه اصلی</a></li>
{#        <li> مهدی اسدپور موبایل</li>#}
      </ul>

    </div>

  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
{#  <li><a href="sass.html">ور نام</a></li>#}
{#  <li><a href="badges.html">رزرو آنلاین</a></li>#}
{#  <li><a href="collapsible.html">آموزش مجازی</a></li>#}
{#  <li><a href="mobile.html">گالری</a></li>#}
{#  <li><a href="mobile.html">ارتباط با ما</a></li>#}
{#  <li><a href="mobile.html">راهنما</a></li>#}
{#  <li><a href="sass.html">مهدی اسدپور</a></li>#}
</ul>
<ul class="sidenav" id="mobile-demo">
  <li><a href="/">مرکز زیبایی دکتر اسدپور</a></li>
</ul>
<!-- ----------پایان ناوبار------------ -->
<main>
<form method="POST">
{% csrf_token %}
    <div >
        <p id="titr">
            رزرو آنلاین
        </p>
    </div>

    <div class="main row">
         <div></div>
            <div class="textbox">
                <p class="textobject">
                    {{ person }}
                </p>
            </div>

            <div class="input-field col s12 l12 m12">
                    <select name="operatoreselect" id="operatoreselect" onchange="operatoreclick();">
                            <option value={{ melicodperonel }}>{{ personel }}</option>
                        {% for oprator in operatorarray %}
                            <option value={{ oprator.1 }}>{{ oprator.0 }}</option>
                        {% endfor %}
                    </select>
                    <label class="teal-text text-darken-4">اپراتور :</label>
            </div>
        <div class="col s12 m12 l12">
            <div class="input-field col s6">
                    <select class="custom-select" name="day" onchange="cli()">
                            <option value={{ dayselect }} >{{ dayselect}}</option>
                            <option value= "1" >1</option>
                            <option value= "2" >2</option>
                            <option value= "3" >3</option>
                            <option value= "4" >4</option>
                            <option value= "5" >5</option>
                            <option value= "6" >6</option>
                            <option value= "7" >7</option>
                            <option value= "8" >8</option>
                            <option value= "9" >9</option>
                            <option value= "10" >10</option>
                            <option value= "11" >11</option>
                            <option value= "12" >12</option>
                            <option value= "13" >13</option>
                            <option value= "14" >14</option>
                            <option value= "15" >15</option>
                            <option value= "16" >16</option>
                            <option value= "17" >17</option>
                            <option value= "18" >18</option>
                            <option value= "19" >19</option>
                            <option value= "20" >20</option>
                            <option value= "21" >21</option>
                            <option value= "22" >22</option>
                            <option value= "23" >23</option>
                            <option value= "24" >24</option>
                            <option value= "25" >25</option>
                            <option value= "26" >26</option>
                            <option value= "27" >27</option>
                            <option value= "28" >28</option>
                            <option value= "29" >29</option>
                            <option value= "30" >30</option>
                            <option value= "31" >31</option>
{#                        {% for iday in day %}#}
{#                            <option value={{ iday }}>{{ iday }}</option>#}
{#                        {% endfor %}#}
                    </select>
        <label class="teal-text text-darken-4">روز تولد :</label>
      </div>
            <div class="input-field col s6">
                    <select  class="custom-select" name="mounth" onchange="cli()">
                        <option value= {{ mounthselect }}>{{ mounthselect }}</option>
                        <option value="فروردین">فروردین</option>
                        <option value="اردیبهشت">اردیبهشت</option>
                        <option value="خرداد">خرداد</option>
                        <option value="تیر">تیر</option>
                        <option value="مرداد">مرداد</option>
                        <option value="شهریور">شهریور</option>
                        <option value="مهر">مهر</option>
                        <option value="آبان">آبان</option>
                        <option value="آذر">آذر</option>
                        <option value="دی">دی</option>
                        <option value="بهمن">بهمن</option>
                        <option value="اسفند">اسفند</option>
                    </select>
        <label class="teal-text text-darken-4 ">ماه تولد :</label>
      </div>

            <div class="center-align dokmeye-vorood col s6 l6 m6">
                <button class="w-100 btn waves-effect" name="button_back" value="accept" onclick="clic()">روز قبل</button>
            </div>
            <div class="center-align dokmeye-vorood col s6 l6 m6">
                <button class="w-100 btn waves-effect" name="button_next" value="accept" onclick="clic()" >روز بعد</button>
            </div>
        </div>
            {% if melicodperonel != '1' %}
                
            <div class="effects col s12 l12 m12 " >
                {% for t in day %}
                    {% if t.0 != "false" %}
                    <div  class="effects__item sizeefect_time" id="jadval" >
                        <p class="textboxxx">{{ t.0 }}</p>
                        <br>
                        {% if t.1 == "false" %}
                            <button class="boxxx sizeefect_time "  name="timeselect" value="1,{{ forloop.counter}}" disabled>10 تا 10.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="1,{{ forloop.counter}}" onclick="clic()" >10 تا 10.5 {{ t.1 }}</button>
                        {% endif %}
                        {% if t.2 == "false" %}
                            <button class="boxxx"  name="timeselect" value="2,{{ forloop.counter}}" disabled>10.5 تا 11</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="2,{{ forloop.counter}}" onclick="clic()">10.5 تا 11{{ t.2 }}</button>
                        {% endif %}
                        {% if t.3 == "false" %}
                            <button class="boxxx"  name="timeselect" value="3,{{ forloop.counter}}" disabled>11 تا 11.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="3,{{ forloop.counter}}" onclick="clic()">11 تا 11.5{{ t.3 }}</button>
                        {% endif %}
                        {% if t.4 == "false" %}
                            <button class="boxxx"  name="timeselect" value="4,{{ forloop.counter}}" disabled>11.5 تا 12</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="4,{{ forloop.counter}}"  onclick="clic()">11.5 تا 12{{ t.4 }}</button>
                        {% endif %}
                        {% if t.5 == "false" %}
                            <button class="boxxx"  name="timeselect" value="5,{{ forloop.counter}}" disabled>12 تا 12.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="5,{{ forloop.counter}}"  onclick="clic()">12 تا 12.5{{ t.5 }}</button>
                        {% endif %}
                        {% if t.6 == "false" %}
                            <button class="boxxx"  name="timeselect" value="6,{{ forloop.counter}}" disabled>12.5 تا 13 </button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="6,{{ forloop.counter}}"  onclick="clic()">12.5 تا 13 {{ t.6 }}</button>
                        {% endif %}
                        {% if t.7 == "false" %}
                            <button class="boxxx"  name="timeselect" value="7,{{ forloop.counter}}" disabled>13 تا 13.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="7,{{ forloop.counter}}"  onclick="clic()">13 تا 13.5{{ t.7 }}</button>
                        {% endif %}
                        {% if t.8 == "false" %}
                            <button class="boxxx"  name="timeselect" value="8,{{ forloop.counter}}" disabled>13.5 تا 14</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="8,{{ forloop.counter}}"  onclick="clic()">13.5 تا 14{{ t.8 }}</button>
                        {% endif %}
                        {% if t.9 == "false" %}
                            <button class="boxxx"  name="timeselect" value="9,{{ forloop.counter}}" disabled>14 تا 14.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="9,{{ forloop.counter}}"  onclick="clic()">14 تا 14.5{{ t.9 }}</button>
                        {% endif %}
                        {% if t.10 == "false" %}
                            <button class="boxxx"  name="timeselect" value="10,{{ forloop.counter}}" disabled>14.5 تا 15</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="10,{{ forloop.counter}}"  onclick="clic()">14.5 تا15{{ t.10 }}</button>
                        {% endif %}
                        {% if t.11 == "false" %}
                            <button class="boxxx"  name="timeselect" value="11,{{ forloop.counter}}" disabled>15 تا 15.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="11,{{ forloop.counter}}"  onclick="clic()">15 تا 15.5{{ t.11 }}</button>
                        {% endif %}
                        {% if t.12 == "false" %}
                            <button class="boxxx"  name="timeselect" value="12,{{ forloop.counter}}" disabled>15.5 تا 16</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="12,{{ forloop.counter}}"  onclick="clic()">15.5 تا 16{{ t.12 }}</button>
                        {% endif %}
                        {% if t.13 == "false" %}
                            <button class="boxxx"  name="timeselect" value="13,{{ forloop.counter}}" disabled>16 تا 16.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="13,{{ forloop.counter}}"  onclick="clic()">16 تا16.5{{ t.13 }}</button>
                        {% endif %}
                        {% if t.14 == "false" %}
                            <button class="boxxx"  name="timeselect" value="14,{{ forloop.counter}}" disabled>16.5 تا 17</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="14,{{ forloop.counter}}" onclick="clic()">16.5 تا 17{{ t.14 }}</button>
                        {% endif %}
                        {% if t.15 == "false" %}
                            <button class="boxxx"  name="timeselect" value="15,{{ forloop.counter}}" disabled>17 تا 17.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="15,{{ forloop.counter}}"  onclick="clic()">17 تا 17.5{{ t.15 }}</button>
                        {% endif %}
                        {% if t.16 == "false" %}
                            <button class="boxxx"  name="timeselect" value="16,{{ forloop.counter}}" disabled>17.5 تا 18</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="16,{{ forloop.counter}}" onclick="clic()">17.5 تا 18{{ t.16 }}</button>
                        {% endif %}
                        {% if t.17 == "false" %}
                            <button class="boxxx"  name="timeselect" value="17,{{ forloop.counter}}" disabled>18 تا 18.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="17,{{ forloop.counter}}"  onclick="clic()">18 تا 18.5{{ t.17 }}</button>
                        {% endif %}
                        {% if t.18 == "false" %}
                            <button class="boxxx"  name="timeselect" value="18,{{ forloop.counter}}" disabled>18.5 تا 19</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="18,{{ forloop.counter}}"  onclick="clic()">18.5 تا 19{{ t.18 }}</button>
                        {% endif %}
                        {% if t.19 == "false" %}
                            <button class="boxxx"  name="timeselect" value="19,{{ forloop.counter}}" disabled>19 تا 19.5</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="19,{{ forloop.counter}}"  onclick="clic()">19 تا 19.5{{ t.19 }}</button>
                        {% endif %}
                        {% if t.20 == "false" %}
                            <button class="boxxx"  name="timeselect" value="20,{{ forloop.counter}}" disabled>19.5 تا 20</button>
                        {% else %}
                            <button class="boxxx"  name="timeselect" value="20,{{ forloop.counter}}"  onclick="clic()">19.5 تا 20{{ t.20 }}</button>
                        {% endif %}
                        {% for d in dastiarray %}
                            <button class="boxxx"  name="timeselect" value="21,{{ d.1 }}" >خارج از نوبت {{ d.0 }}</button>
                        {% endfor %}

                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
    
    </div>
  <input id="" name="timesel" value="{{ timesel }}" hidden>
  <input id="idjob" name="idjob" value="{{ idjob }}" hidden="">
  <label id="today" hidden>{{ dayconter }}</label>
  <input id="daysave" name="dayconter" hidden>
  <label id="yer" >{{ e }}</label>

<button id="operatorebuttom" name="operatorebuttom"  value="accept" hidden></button>
<button id="cl" name="cl"  value="accept" hidden></button>
{% csrf_token %}
</form>
</main>


<!-- -----footer------------------------------------------------------------------------------------- -->
  <footer class="clum ">

  <svg id="footer-svg"  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1440 320">
    <path fill="#6a1b9a" fill-opacity="1" d="M0,160L120,186.7C240,213,480,267,720,266.7C960,267,1200,213,1320,186.7L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
  </svg>
  
  <div class="purple darken-3 w-100">

    <div class="row">
      
      <div class="col l6 s12">
        <h5 class="white-text">ارتباط با ما</h5>
        <p class="grey-text text-lighten-4">مجموعه ما مجموعه خیلی باحالیه و دلسوز که سعی مبکنه بهترین کارهای تخصصی رو انجام بده</p>
      </div>
      <div class="col l4 offset-l2 s12">

        <h5 class="white-text">لینک های مرتبط</h5>
        <ul>
          <!-- <li><div class="s6 m3 l12 quick_item"><a href="#"><div class="image center-align "><img src="/static/img/pic1 (5).jpg" alt="photo"></div><h2 class="center-align">بوتاکس زیبا</h2></a></li></div> -->
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>

      </div>
      <!-- <div class="col l2 s12">
        <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=361568&amp;Code=rfRJvt89x7WeFTvMVzE8">
          <img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=361568&amp;Code=rfRJvt89x7WeFTvMVzE8" alt="" style="cursor:pointer" id="rfRJvt89x7WeFTvMVzE8">
      </a>      
      </div> -->

    </div>
    0
  </div>

  <div class="footer-copyright purple darken-2">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>

</footer> 

<script src="/static/js/materialize.min.js"></script>
<script src="/static/js/home.js"></script>
<script src="/static/js/addselect.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static "/js/add_cantact.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static "/js/reserve.js" %}"></script>

</body>
</html>