{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "/css/tiket.css" %}>
    <title>WhatsApp Clone</title>
</head>

<body>
<form action=""  method="POST">
{% csrf_token %}

    <div class="container">
        <header>
            <a href="#" class="logo">پیام رسان مجازی مطب دکتر اسدپور</a>
        </header>
        <div class="tabs">
            <input style="--i:0;" type="radio" name="group" id="chats" checked>
{#            <input style="--i:1;" type="radio" name="group" id="status">#}
{#            <input style="--i:2;" type="radio" name="group" id="calls">#}

            <div class="buttons">
                <label for="chats">گفتگو</label>
{#                <label for="status">وضعیت</label>#}
{#                <label for="calls">Calls</label>#}
                <div class="underline"></div>
            </div>
            <div class="content">
                <div class="box chats">
                    <div class="chatList">
                        {% for message in nananswer %}
                        <button class="chat unread open" name="unreadbtn" id="unreadbtn" value="{{ forloop.counter0 }}">
                            <div class="avatar">
                                <img src={% static "/img/user.jpg" %} alt="">
                            </div>
                            <div class="details">
                                <div class="chatHeader">
                                    <h4>{{ message.0 }}</h4>
                                    <p class="time">{{ message.1 }}</p>
                                </div>
                                <div class="chatBody">
                                    <p>{{ message.2 }}</p>
                                    <b>{{ message.3 }}</b>
                                </div>
                            </div>
                        </button>
                        {% endfor %}
                        {% for message in answer %}
                        <button class="chat" name="readbtn" id="readbtn" value="{{ forloop.counter0 }}">
                            <div class="avatar">
                                <img src={% static "/img/user.jpg" %} alt="">
                            </div>
                            <div class="details">
                                <div class="chatHeader">
                                    <h4>{{ message.0 }}</h4>
                                    <p class="time">{{ message.1 }}</p>
                                </div>
                                <div class="chatBody">
                                    <p>{{ message.2 }}</p>
                                </div>
                            </div>
                        </button>
                        {% endfor %}
                    </div>
                </div>
            </div>         
        </div>
    </div>
</form>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="{% static "/js/watsapp.js" %}"></script>
</body>

</html>