{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/tiket.css" %}">
    <title>مشاوره</title>
</head>
<body>
    <div class="main-box">
        <div class="chat-item-name">
            
        </div>
        <div class="chat-item-recive">
            <p class="break_text">
{#                {{ recivemessage }}#}
                sfgkjnlkjnssdfdsf sdf f sdfsdfsd fsd fsd fsdfsdf dsf dfdf
                سیبسیبسیبس
                یبیب
                سیب
                سی
                بسی
                بس
                یب
                سیب
                یبسیبسیبسیبسیبسی
                لزذلالبالبابلسبیسیلبالبدالدر
                سیبیسلیبلبیلایبلابلایبل سلیبلیبلیبل سی س یل یبلی بل یبل یبل یب ل ی بل یبل ی ب ل
                یب ل یب لی بل یبل ی بل یبلیبل ی ل یبل یبل ی بل یلب
            </p>
        </div>
        <div class="chat-item-send">
            <p class="break_text">
                 یبلیسل   یل ی لیب لیبلیبلبلی
                لیبل ییبلیبل یبلیب ل یبلبی یب لیبلیبللیبلیبلیبلیبلبی بیلیبلی
{#                {{ recivemessage }}#}
            </p>
        </div>
        
    </div>
</body>
</html>